<div class="panel panel-warning">
  <div class="panel-heading">
    <h1>Pick it up and carry on.</h1>
  </div>
  <div class="panel-body">
    <p>
      You pick up the object and carry on. It turns out to be a compass -- maybe it will be useful later. Meanwhile, the tunnel goes round in a circle, and you find yourself back at the mouth of the cave. You are beginning to lose heart.
    </p>
    <br>
    <a routerLink="/over">
      <button class="btn btn-large btn-warning">Shoot!</button>
    </a>Shoot Yourself
    <br>
    <br>
    <a routerLink="/jungle">
      <button class="btn btn-large btn-warning">Run!</button>
    </a>Go into the jungle.
    <br>
    <br>
    <a routerLink="/stream">
      <button class="btn btn-large btn-warning">Climb</button>
    </a>Wade into the stream.
  </div>
</div>
