<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h1>
        Go into the cave.
      </h1>
    </div>
    <div class="panel-body">
      <p>
        You go into the cave. There are two tunnels, left and right. Which one do you take?
      </p>
      <br>
      <a routerLink="/left">
        <button class="btn btn-warning">Go!</button>
      </a>
      Take the left fork.
      <br>
      <br>
      <a routerLink="/right">
        <button class="btn btn-warning">Go!</button>
      </a>
      Take the right fork.
    </div>
  </div>
</div>
