<div class="panel panel-warning">
  <div class="panel-heading panel-warning">
    <h1>Swim as hard as you can to reach the bank.</h1>
  </div>
  <div class="panel-body">
    <p>
      You try to swim against the current, but it's no use -- you are swept out to sea.
    </p>
    <br>
    <br>
    <a routerLink="/swim">
      <button class="btn btn-large btn-warning">Sea</button>
    </a>
    Swim out to sea in the hope of being picked up by a boat.
    <br>
    <br>
    <a routerLink="/island">
      <button class="btn btn-large btn-warning">Island</button>
    </a>
    Try to swim back to the island.
  </div>
</div>
