<div class="panel panel-warning">
  <div class="panel-heading panel-warning">
    <h1>
      You turn toward the noise.
    </h1>
  </div>
  <div class="panel-body">
    <p>
      Suddenly, a huge set of golden eyes emerge glow from behind the bushes. As the animal creeps out of the bushes its obviously bigger than you -- it looks like a black panther. It looks at you hungrily. What should you do?
    </p>
    <br>
    <a routerLink="/stick">
    <button class="btn btn-large btn-warning">Defend</button>
    </a>
    Pick up a stick to defend yourself.
    <br>
    <br>
    <a routerLink="/scare">
      <button class="btn btn-large btn-warning">Scare</button>
    </a>
    Shoot your pistol into the air to scare it away.
    <br>
    <br>
    <a routerLink="/kill">
      <button class="btn btn-large btn-warning">Kill</button>
    </a>
    Shoot your pistol at the panther.
  </div>
</div>
