<div class="panel panel-warning">
  <div class="panel-heading panel-warning">
    <h1>You pick up a large stick.</h1>
  </div>
  <div class="panel-body">
    <p>
      You wildly and fiercly swing the stick while making the most blood curdling scream. The panther continues to approach. You increase your speed and range of swinging and luckily make firm contact with the panther's nose. He hisses then turns and runs off into the bushes.
    </p>
    <br>
    <a routerLink="/continue">
      <button class="btn btn-large btn-warning">Continue</button>
    </a>
      Continue on your way through the jungle.
 </div>
</div>
