<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3>
        Climb the hill.
      </h3>
    </div>
    <div class="panel-body">
      <p>
        You climb to the top of the hill. It takes a while, but when you reach the top, you can see the whole island spread out before you. You can also see, on the distant horizon, a small ship. It is heading away from you.
      </p><br>
      <a routerLink="/flare">
        <button  class="btn btn-warning">Flare</button>
      </a>
      Fire the rescue flare to attract the ship's attention.
      <br>
      <br>
      <a routerLink="/gun">
        <button class="btn btn-warning">Pistol</button>
      </a>
      Fire the pistol to attract the ship's attention.
    </div>
  </div>
</div>
