<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h1>*** Need to create steer route ***</h1>
      <h3>
        You climb into the boat.
      </h3>
    </div>
    <div class="panel-body">
      <p>
        You steer your boat out to sea. You know that there is a shipping lane to the north west.
      </p><br>
      <a routerLink="/steer">
        <button  class="btn btn-warning">Steer</button>
      </a>
      Navigate north-west using the compass.
      <br>
      <br>
      <a routerLink="/guess">
        <button class="btn btn-warning">Guess</button>
      </a>
      Guess where north west is and try to steer in that direction.
    </div>
  </div>
</div>
