<div class = "container">
  <div class="jumbotron">
    <h2>Can you survive being shipwrecked?</h2>
    <p>
      While challenging, it's not as hard as the movies would have you believe - where they always make the worst possible decisions for the sake of drama. Here, at least, you will be offered logical choices amid the foolhardy and your character cares about survival even more than you do. A serious game with great detail.
    </p>
  </div>
  <h2>Style</h2>
  <hr>
  <p>
    There is a bit of reading in this story. Pages include image and character score.
  </p>
  <h2>Objective</h2>
  <hr>
  <p>
    1) Get the best ending, or
    <br>
    2) Get the highest score
  </p>
  <h2>Scoring</h2>
  <hr>
  <p>
    Each choice is assigned a value from 10 - 50 points: Generally, 10 points are given for a bad decisions, 30 points for neutral decisions, and 50 points for the most logical choices. 20 & 40 points are also awarded, when certain choices fall between the other values. Your final Score at the end of the game is the total of all the decisions made, multiplied by a number of special factors (depending on what you accomplish during play).
  </p>
  <p>
    Note that the highest possible score will not be achieved by making all the right choices - as making the best choices often allow you to bypass certain other 'choice-filled' events, that will net you more points in the long run (if survived) than by simply skipping them altogether in the first place.
  </p>
  <h2>Endings</h2>
  <hr>
  <p>
    As this is a survival game, the very best ending can only be achieved by not dying at all.
  </p>
  <h1>
    Good Luck!
  </h1>
  <a routerLink="/beach"><button class="btn btn-large btn-warning">Begin...</button></a>
</div>
