<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading panel-warning">
      <h1>
        Fire the rescue flare to attract the ship's attention.
      </h1>
    </div>
    <div class="panel-body">
      <p>
        You fire the flare into the sky. Unfortunately, it's a very bright, sunny day, and the flare is almost invisible in the blazing sun. The ship continues moving away from you.
      </p>
      <br>
      <a routerLink='/give'>
        <button class="btn btn-warning">Give Up!</button>
      </a>
      Give up trying to attract the ship's attention.
      <br>
      <br>
      <a routerLink='/gun'>
        <button class="btn btn-warning">Fire Pistol!</button>
      </a>
      Fire the pistol to attract the ship's attention.
    </div>
  </div>
</div>
