<div class="panel panel-warning">
  <div class="panel-heading panel-warning">
    <h1>
      You fire at the panther with your pistol.
    </h1>
  </div>
  <div class="panel-body">
    <p>
      Your shot hits him in the neck, and he starts bleeding, but he is not killed -- he just gets more angry and comes towards you.
    </p>
    <br>
    <a routerLink="/over">
      <button class="btn btn-large btn-warning">Shoot!</button>
    </a>
    Shoot the panther again.
    <br>
    <br>
    <a routerLink="/run">
      <button class="btn btn-large btn-warning">Run!</button>
    </a>
    Turn and run away from the panther.
    <br>
    <br>
    <a routerLink="/climb">
      <button class="btn btn-large btn-warning">Climb</button>
    </a>
    Climb a tree to get out of the animal's way.
  </div>
</div>
