<div class="panel panel-warning">
  <div class="panel-heading panel-warning">
    <h1>You fire at the panther with your pistol.</h1>
  </div>
  <div class="panel-body">
    <p>
      Your shot hits him in the neck, and he starts bleeding, but he is not killed -- he just gets more angry and comes towards you.
    </p>
    <br>
    <a routerLink="/fight">
      <button class="btn btn-large btn-warning">Fight!</button>
    </a>
    Go towards the animal noises.
    <br>
    <br>
    <a routerLink="/flight">
      <button class="btn btn-large btn-warning">Flight!</button>
    </a>
    Move away from the animal noises.
  </div>
</div>
