<div class="panel panel-warning">
  <div class="panel-heading panel-warning">
    <h1>You run from the panther.</h1>
  </div>
  <div class="panel-body">
    <p>
      You turn and run away from the black panther. However, the panther comes after you. You are unable to run fast enough to escape. What do you do?
    </p>
    <br>
    <a routerLink="/swim">
      <button class="btn btn-large btn-warning">Run</button>
    </a>
    Run back to the beach and start swimming out to sea.
    <br>
    <br>
    <a routerLink="/over">
      <button class="btn btn-large btn-warning">Shoot</button>
    </a>
    Shoot the panther again.
  </div>
</div>
