<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h1>
        Take the left fork.
      </h1>
    </div>
    <div class="panel-body">
      <p>
        You go down the tunnel. You can hardly see anything in the dark. What do you do?
      </p>
      <br>
      <a routerLink="/back">
        <button class="btn btn-warning">Go!</button>
      </a>
      Go back out of the cave.
      <br>
      <br>
      <a routerLink="/caveContinue">
        <button class="btn btn-warning">Go!</button>
      </a>
      Continue into the cave.
    </div>
  </div>
</div>
