<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h1>
        Climb a tree to get out of the animal's way
      </h1>
    </div>
    <div class="panel-body">
      <p>
        You climb up a tree to escape the lizard. For about fifteen minutes, he paces around the bottom of the tree, sniffing and roaring, but then he gives up and shuffles away. You hear him moving away into the jungle.
      </p>
      <br>
      <a routerLink="/continue">
        <button class="btn btn-warning">Go!</button>
      </a>
      Continue on your way through the jungle.
    </div>
  </div>
</div>
