<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3>Go back out of the cave.</h3>
    </div>
    <div class="panel-body">
      <p>
        You go back to the mouth of the cave. Now What?
      </p>
      <br>
      <a routerLink="/jungle">
        <button class="btn btn-warning">Go!</button>
      </a>Go into the jungle.
      <br>
      <br>
      <a routerLink="/stream">
        <button class="btn btn-warning">Go!</button>
      </a>Wade into the stream.
    </div>
  </div>
</div>
