<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading panel-warning">
      <h1>
        You set off to climb the hill.
      </h1>
    </div>
    <div class="panel-body">
      <h4>
        It takes a while, but when you reach the top, you can see the whole island spread out before you. You can also see, on the distant horizon, a small ship. It is heading away from you.
      </h4>
      <a routerLink="/light">
        <button class="btn btn-large btn-warning">Make Light</button>
      </a>
      Fire the rescue flare to attract the ship's attention.
      <br>
      <br>
      <a routerLink="/gun">
        <button class="btn btn-large btn-warning">Make Sound</button>
      </a>
      Fire the pistol to attract the ship's attention.
    </div>
  </div>
</div>
