<div class="panel panel-warning">
  <div class="panel-heading panel-warning">
    <h1>You fire at the panther with your pistol.</h1>
  </div>
  <div class="panel-body">
    <p>
      Unfortunately, the water is running very fast, and you are swept off your feet and carried away.
    </p>
    <br>
    <br>
    <a routerLink="/bank">
      <button class="btn btn-large btn-warning">Swim</button>
    </a>
    Swim as hard as you can to reach the bank.
    <br>
    <br>
    <a routerLink="/float">
      <button class="btn btn-large btn-warning">Float</button>
    </a>
    Relax and let the water take you where it wants to go.
  </div>
</div>
