<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <p>
        Fire the pistol to attract the ship's attention.
      </p>
    </div>
    <div class="panel-body">
      <p>
        You fire the pistol, hoping the noise will attract the attention of the crew on the ship. Unfortunately, it doesn't.
      </p><br>
      <a routerLink="/light">
        <button class="btn btn-warning">Go!</button>
      </a>Fire a rescue flare to attract the ship's attention.<br><br>
      <a routerLink="/give">
        <button class="btn btn-warning">Go!</button>
      </a>Fire a rescue flare to attract the ship's attention.
    </div>
  </div>
</div>
