<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h1>
        Relax and let the water take you where it wants to go.
      </h1>
    </div>
    <div class="panel-body">
      <p>
        You coast along in the water, and eventually you are swept into a little bay. You find a rowing boat there.
      </p>
      <br>
      <a routerLink="/shore">
        <button  class="btn btn-warning">Shore</button>
      </a>
      Climb out of the water.
      <br>
      <br>
      <a routerLink="/boat">
        <button class="btn btn-warning">Boat</button>
      </a>
      Sail the boat out to sea.
    </div>
  </div>
</div>
