<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <p>
        Give up trying to attract the ship's attention.
      </p>
    </div>
    <div class="panel-body">
      You give up trying to attract the attention of the ship, and come down from the hill. What next?<br><br>
      <a routerLink="/jungle">
        <button class="btn btn-warning">Go!</button>
      </a>Go into the jungle.<br>
      <br>
      <a routerLink="/swim">
        <button class="btn btn-warning">Go!</button>
      </a>Start swimming out to sea.
    </div>
  </div>
</div>
