<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3>
        Climb out of the water.
      </h3>
    </div>
    <div class="panel-body">
      <p>
        You climb out of the water. You're right near the place where you first landed on the island.
      </p><br>
      <a routerLink="/jungle">
        <button  class="btn btn-warning">Jungle</button>
      </a>
      Go into the jungle.
      <br>
      <br>
      <a routerLink="/hill">
        <button class="btn btn-warning">Hill</button>
      </a>
      Climb up the hill.
    </div>
  </div>
</div>
