<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3>Continue into cave.</h3>
    </div>
    <div class="panel-body">
      <p>
        You continue into the cave. You stumble and fall, and your leg touches something hard.
      </p>
      <br>
      <a routerLink="/pick">
        <button class="btn btn-warning">Go!</button>
      </a>Pick it up and Carry on.
      <br>
      <br>
      <a routerLink="/leave">
        <button class="btn btn-warning">Go!</button>
      </a>Leave it and carry on.
    </div>
  </div>
</div>
