<div class="panel panel-warning">
  <div class="panel-heading panel-warning">
    <h1> You continue moving through the jungle.</h1>
  </div>
  <div class="panel-body">
    <p>
      Soon, you hear the sound of running water, and you see a stream emerging from a cave.
    </p>
    <br>
    <a routerLink="/stream">
      <button class="btn btn-large btn-warning">Continue</button>
    </a>
    Wade across the stream.
    <br>
    <br>
    <a routerLink="/cave">
      <button class="btn btn-large btn-warning">Continue</button>
    </a>
    Go into the cave.
  </div>
</div>
