<div class="container">
  <h1>Can you survive shipwreck on a desert island?</h1>
  <h4>
    You are the only survivor from the wreck of a cruise ship, which sank without warning during a severe tropical storm. You have managed to swim to shore on a desert island.
  </h4>
  <hr>
  <h5>You managed to salvage several items from the ship which you may find useful:</h5>
  <ul>
    <li>1 Rescue flare</li>
    <li>1 Pistol</li>
    <li>3 Bullets</li>
  </ul>
  <a routerLink="beach"><button>Start</button></a>
</div>
