<div class="panel panel-warning">
    <div class="panel-heading panel-warning">
    <h1>You set off into the jungle.</h1>
    </div>
    <div class="panel-body">
      <h4>
       It's hard to make progress, but you struggle on slowly. Ahead, you can hear the sound of a large animal moving around.
      </h4>
      <br>
      <a routerLink="/fight">
      <button class="btn btn-large btn-warning">Fight!</button>
      </a>
       Go towards the animal noises.
       <br>
       <br>
       <a routerLink="/flight">
         <button class="btn btn-large btn-warning">Flight!</button>
       </a>
       Move away from the animal noises.
     </div>
</div>
