  <div class="container">
    <div class="panel panel-warning">
      <div class="panel-header">
        <h1>
          You scramble up the beach onto the island.<hr>
        </h1>
      </div>
      <div class="panel-body">
        <h4>There is no sign of anyone. To your left is a high hill, and to your right is a dense jungle. What do you do?
        </h4>

        <a routerLink="/jungle"><button class="btn btn-large btn-warning">Trek</button></a>
        Go into the jungle.
        <br>
        <br>
        <a routerLink="/hill"><button class="btn btn-large btn-warning">Climb</button></a>  Climb the hill.
      </div>
    </div>
  </div>
