<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h1>
        You quit trying to gain the ships attention.
      </h1>
    </div>
    <div class="panel-body">
      <p>
        You give up trying to attract the attention of the ship, and come down from the hill. What next?
      </p>
      <br>
      <a routerLink="/jungle">
        <button  class="btn btn-warning">Jungle</button>
      </a>
      Go into the jungle.
      <br>
      <br>
      <a routerLink="/swim">
        <button class="btn btn-warning">Sea</button>
      </a>
      Start swimming out to sea.
    </div>
  </div>
</div>
