<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3>
        Steer north-west using the compass.
      </h3>
    </div>
    <div class="panel-body">
      <p>
        You use the compass to steer your boat to the north-west. Eventually, you reach the shipping lanes, and a boat full of illegal migrants picks you up and takes you directly to the West Coast of Canada, where you start a new adventure! Well done -- you've saved yourself.
      </p>
      <br>
      <h1>You Made It!</h1>
    </div>
  </div>
</div>
