<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3>
        Guess where north west is and try to steer in that direction.
      </h3>
    </div>
    <div class="panel-body">
      <p>
        You do your best to find your way to the shipping lane, but you get hopelessly lost. After several days, you are in total despair.
      </p>
      <br>
      <a routerLink="/die">
        <button  class="btn btn-warning">Die</button>
      </a>
        Shoot yourself.
      <br>
      <br>
      <a routerLink="/live">
        <button class="btn btn-warning">Live</button>
      </a>
        Don't shoot yourself.
    </div>
  </div>
</div>
