<div class="panel panel-warning">
  <div class="panel-heading panel-warning">
    <h1>
      You fire your pistol into the air.
    </h1>
  </div>
  <div class="panel-body">
    <p>
      The black cat is afraid of the noise, and it turns around and shuffles back into the jungle. You hear it receding into the distance.
    </p>
    <br>
    <a routerLink="/continue">
      <button class="btn btn-large btn-warning">Continue</button>
    </a>
    Continue on your way through the jungle.
  </div>
</div>
